/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


header {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://i.imgur.com/VUakDX1.jpg");
}

footer {
  margin: 100px;
 }

#contents {
  padding-left: 215px;
  padding-right: 215px;
}

.nav {
  background-color: white;
  width: 100%;
  letter-spacing: 2px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 215px;
  padding-right: 215px;
}

.nav li {
  display: inline;
  /* margin-left: 20; */
  /* margin-right: 20; */
  /* position: absolute; */
  width: 100%;
  height: 100%;
  font-size: 1.4em;
}

.nav a {
  display: inline-block;
  margin: 12px;
}

a:hover {
  color: orange;
}

li {
 list-style: none;
}

* {
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
  color: #863E31;
}

a {
 color: inherit;
 text-decoration: none;
}

.divider {
  font-size: 18px;
  color: #863E31;
}

#banner img {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

.carousel {
  background: #EEE;
  width: 40%;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

#posts, #likes {
  padding: 30px;
}

/* move to posts show css */

.comment-timestamp {
  font-size: 0.8em;
  color: #AAA;
  padding-left: 40px;
}

.comment-author-name {
  font-size: 1.2em;
  font-weight: bold;
}

.like-button {
  padding: 20px;
}

 nav ul{
   padding: 0;
   width: 100%;
   display: flex;
   /*height: 20px;*/
   /*align-items: left;
   justify-content: space-around;*/
 }

.my-posts {
  padding: 80px;
}
 li{
   list-style: none;
   padding: 10px;
 }

 nav li a{
   text-decoration: none;
   color: black;
   font-size: 15px
 }
