// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recipe {
  text-align: center;
  color: yellow;
  background: black;
  height: 150px;
  width: 30%;
  margin: 20px;
}

img {
  height: 33%;
  width: 33%;
}
