body {
  background-color: black;
  text-align: center;
}

h1{
  font-size: 60px;
  color: yellow;
}

p {
  font-size: 40px;
  color: white;
}

li {
  font-size: 30px;
  text-align: center;
  color: yellow;
}
