// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.recipe {
  text-align: center;
  color: black;
  background: white;
  height: 300px;
  width: 30%;
  margin: 10px;
}

img {
  height: 50%;
  width: 50%;
}
